:root {
  --mx-wdth: 1170px;
  --clr-wht: #fff;
  --clr-grey: #d3d3d3;
  --clr-blk: #222;
  --clr-blue1: hsl(215, 100%, 25%);
  --clr-blue2: hsl(205, 100%, 38%);
}
.pList {
  width: 100%;
  max-width: var(--mx-wdth);
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.pListItem {
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.pListImg {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.pListTitles > h1 {
  font-size: 18px;
  color: #444;
}

.pListTitles > h2 {
  font-size: 14px;
  font-weight: 300;
}
