:root {
  --mx-wdth: 1170px;
  --clr-wht: #fff;
  --clr-grey: #d3d3d3;
  --clr-blk: #222;
  --clr-blue1: hsl(215, 100%, 25%);
  --clr-blue2: hsl(205, 100%, 38%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homeContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.homeTitle {
  width: var(--mx-wdth);
  font-size: 20px;
}
