:root {
  --mx-wdth: 1170px;
  --clr-wht: #fff;
  --clr-grey: #d3d3d3;
  --clr-blk: #222;
  --clr-blue1: hsl(215, 100%, 25%);
  --clr-blue2: hsl(205, 100%, 38%);
}
.featured {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: var(--mx-wdth);
  gap: 20px;
  z-index: 1;
}

.featuredItem {
  position: relative;
  color: var(--clr-wht);
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
  flex: 1;
}

.featuredImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featuredTitles {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
